<!-- Text style -->
<div class="container-fluid">
  <p>Worked for me. But instead of implements OnInit
    <mark>(which Angular did not want to accept)</mark>
  </p>
  <!-- code tags -->
  <p>To set up users weight use <code>setUserWeight(374);</code> with an integer.</p>
  <p>For multi line code use:</p>
  <pre>
    stream.forEach()
      () -> doStuff()
    ;
  </pre>

  <hr>
  <p>This is for <kbd>keyboard</kbd> input:</p>

  <hr>
  <!-- Text color -->
  <h4>Build in color classes</h4>
  <p class="text-muted">Text muted</p>
  <p class="text-success">Text success</p>
  <p class="text-danger">Text danger</p>
  <p class="text-info">Text info</p>

  <!-- Text background color -->
  <h4>Build in background color classes</h4>
  <p class="bg-muted">Text muted</p>
  <p class="bg-success">Text success</p>
  <p class="bg-danger">Text danger</p>
  <p class="bg-info">Text info</p>

  <!-- quote -->
  <blockquote>This is a quote
    <footer>footer</footer>
  </blockquote>

  <h4>Things to do</h4>
  <dl>
    <dt>Indoors</dt>
    <dd>-- take a nap</dd>
    <dd>-- watch netflix </dd>
    <dt>Outdoors</dt>
    <dd>-- play</dd>
  </dl>



</div>