<!-- Video style -->
<div class="container">

  <!-- static images for profile -->
  <img src="../src/images/george1.jpg" class="img-rounded" width="430" height="230">
  <img src="../src/images/profilePic.jpg" class="img-circle" width="80" height="80">

  <img src="../src/images/george1.jpg" class="img-rounded img-responsive">
  <img src="../src/images/profilePic.jpg" class="img-circle img-responsive" max-width="50" max-height="30">

 <!-- video styling -->
 <div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/-ClHu3XQBnGU"></iframe>
   <hr>
 </div>

</div>