<!-- Columns style to small and big screens -->
<div class="container-fluid">

  <h3>Phone entire width, desktop 1/2 the width</h3>
  <div class="row">
    <div class="col-xs-12 col-md-6" style="background: palevioletred;">Small entire screen, big half</div>
    <div class="col-xs-12 col-md-6" style="background: #dbd65f;">Small entire screen, big half</div>
    <div class="col-xs-12 col-md-6" style="background: #61dbdb;">Small entire screen, big half</div>
  </div>

    <h3>Phone 1/2, desktop 1/3 the width</h3>
    <div class="row">
      <div class="col-xs-6 col-md-4" style="background: green;">Phone 1/2, desktop 1/3 the width</div>
      <div class="col-xs-6 col-md-4" style="background: blue;">Phone 1/2, desktop 1/3 the width</div>
      <div class="col-xs-6 col-md-4" style="background: red;">Phone 1/2, desktop 1/3 the width</div>
    </div>

  <!-- offset column -->
  <h3>Off setting columns</h3>
  <div class="row">
    <div class="col-md-4" style="background: lightblue;">4 wide</div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2" style="background: lightcoral;">4 wide</div>
  </div>

  <!-- Nesting Rows, this will add rows within rows -->
  <h3>Off setting columns</h3>
  <div class="row">
    <div class="col-md-9" style="background: lightseagreen; padding: 30px;">
      Hey stuff happens
      <div class="row">
        <div class="col-md-6" style="background: lightblue;">Child 1</div>
        <div class="col-md-6" style="background: lightsalmon;">Child 2</div>
      </div>
    </div>
  </div>

</div>
