<!-- container template -->
<div class="container">
  <h1> {{title}} <small>small text for h1 tag.</small> </h1>
  <p>This is a paragraph<small> smaller paragraph.</small></p>

  <!-- Add components
  <app-grid-system></app-grid-system>
  <app-text-style></app-text-style>
  <app-table-styling></app-table-styling>
  <app-video-styling></app-video-styling>
  <app-navigation-bar></app-navigation-bar>
  <app-alert-box></app-alert-box>
  <app-side-bar-navigation></app-side-bar-navigation>
  <app-pop-up-screens></app-pop-up-screens>-->
  <app-push-pull></app-push-pull>

</div>
