<!-- table style -->
<div class="container">
  <h2>Simple table</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Points</th>
      </tr>
    </thead>   
      <tbody>
        <tr>
          <td>Wiliam Ferraciolli</td>
          <td>32</td>
          <td>450</td>
        </tr>
        <tr>
          <td>Maria G</td>
          <td>26</td>
          <td>120</td>
        </tr>
        <tr>
          <td>Someone</td>
          <td>55</td>
          <td>88</td>
        </tr>
      </tbody>   
  </table>

  <!-- condensede table -->
  <h2>Condensed table</h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Wiliam Ferraciolli</td>
        <td>32</td>
        <td>450</td>
      </tr>
      <tr>
        <td>Maria G</td>
        <td>26</td>
        <td>120</td>
      </tr>
      <tr>
        <td>Someone</td>
        <td>55</td>
        <td>88</td>
      </tr>
    </tbody>
  </table>

  <!-- striped table -->
  <h2>Striped table</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Points</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Wiliam Ferraciolli</td>
        <td>32</td>
        <td>450</td>
      </tr>
      <tr>
        <td>Maria G</td>
        <td>26</td>
        <td>120</td>
      </tr>
      <tr>
        <td>Someone</td>
        <td>55</td>
        <td>88</td>
      </tr>
    </tbody>
  </table>



</div>