
<!-- Wells and alert box -->
<div class="container">
  <!-- Well -->
<h2>Well are sections with border and grey background</h2>
  <div class="well">Normal Well</div>
  <div class="well well-sm">Small Well</div>

  <!-- alert boxes -->
  <div class="alert alert-success">Alert box SUCCESS without close option</div>
  <div class="alert alert-info">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> Alert box INFO with close option
  </div>
  <div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> Alert box DANGER with close option
  </div>

</div>
